.parentDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.headingDiv{
    margin-bottom: 40px;
}

.subheadingDiv{
    margin-right: 85rem;
    margin-bottom: 4vh;
}
.imageDiv{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

.indiImage{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 40vh;
    justify-content: center;  
    align-items: center;  
    background-color: #f0f0f0;
    border-radius: 20px;
    
}

.indiImage img{
    height: 180px;
    width: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.indiImage:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.indiImage p{
    font-size: 16px;
    font-weight:600;
    margin-bottom: 10px;
    margin-top: 5px;
    color: black;
}

@media (max-width: 1245px) {
    .parentDiv {
        height: auto;
    }

    .indiImage {
        height: auto;
    }

    .indiImage img {
        height: 100px;
        margin: 10px;
        width: auto;
    }
}


@media (max-width: 768px) {
    .parentDiv {
        height: auto;
    }

    .indiImage {
        height: auto;
    }

    .indiImage img {
        height: 100px;
        margin: 10px;
        width: auto;
    }
}

@media (max-width: 480px) {
    .parentDiv {
        height: auto;
    }

    .indiImage {
        height: auto;
    }

    .indiImage img {
        height: 100px;
        margin: 10px;
        width: auto;
    }
}

@media (max-width: 1245px) {
    .subheadingDiv {
        margin-right: auto; 
        margin-left: 8rem;
    }
}

@media (max-width: 768px) {
    .subheadingDiv {
        margin-right: auto; 
        margin-left: 6rem;
    }
}

@media (max-width: 480px) {
    .subheadingDiv {
        margin-right: auto; 
        margin-left: 4rem;
    }
}


.star {
    color: goldenrod;
    font-size: 18px;
    margin: 5px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rating p{
    font-size: 14px;
  }

  .ratingDetail{
    color: rgb(78, 78, 78);
    font-size: 13px;
    margin-top: -15px;
  }
  





